/* pseudo classes
p::first-line{
    font-size: 50px;
    color: red;
}
#para1::after{
    content: "hellooo";
    

} */
/*pseudo selectors*/
/* button{
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border:2px solid red
}
button:hover{
    background-color: antiquewhite;
    color: black;
}
a:active{
    background-color: green;
    border: 2px solid red;
}
a:visited{
    color: pink;

}
.inp:focus{
    border: 1px solid blue;
    
}
.inner:nth-last-child(odd){
    background-color: red;
} */
input:read-write{
    background-color: red;
}